/* stylelint-disable no-missing-end-of-source-newline */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  padding: 15px;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-header-title {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
}