* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  padding: 15px;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login{
  display: flex;
  justify-content: flex-end;
}

#trybewarts-header-title{
  display: flex;
}